---
import NoteCard from "./NoteCard.astro";
import type { getPageContent } from "@libs/notion-client";
interface Props {
  pageId: string;
}
const { pageId } = Astro.props;
const baseUrl = new URL(Astro.request.url);
const response = await fetch(`${baseUrl.origin}/api/note/${pageId}`);
const { meta, html } = (await response.json()) as Awaited<
  ReturnType<typeof getPageContent>
>;
---

<NoteCard>
  <Fragment slot="title">{meta.title}</Fragment>
  <div slot="meta">
    <span>{meta.createdAt}</span>
  </div>
  <Fragment set:html={html} />
</NoteCard>
