---
import {
  CompactEntryListYear,
  groupingEntries,
} from "@comp/ui/CompactEntryList";
import type { PageMeta } from "@libs/notion-client";
import NoteContentById from "./NoteListItem.astro";
import NoteContentStyle from "./NoteContentStyle.astro";
import NoteAttr from "./NoteAttr.astro";

type Props = { pages: PageMeta[] };

const { pages } = Astro.props;

const groups = groupingEntries(pages, (page) =>
  new Date(page.createdAt).getFullYear(),
);
---

{
  groups.map((group) => (
    <CompactEntryListYear year={group.year} order={1} animated={false}>
      {group.posts.map((page) => (
        <li class="timeline-dot-item-note-list scroll-mt-20 py-2" id={page.id}>
          <NoteAttr page={page} class="h-12 py-2" />
          <NoteContentById
            pageId={page.id}
            truncate={{ size: 300, ellipsis: "……<hast-truncated>" }}
          />
        </li>
      ))}
    </CompactEntryListYear>
  ))
}

<NoteContentStyle />

<style is:global>
  .timeline-dot > li.timeline-dot-item-note-list {
    --top-offset: 2rem;
    --left-offset: 1.5rem;
    position: relative;
    margin-left: var(--left-offset);

    &:first-child {
      padding-top: 0;
      --top-offset: 1.5rem;
    }
    &:last-child {
      padding-bottom: 0;
    }

    /* Timeline dot */
    &::after {
      content: "";
      left: calc(-1 * (var(--left-offset) + 0.25rem));
      top: calc(var(--top-offset) - 0.25rem);

      @apply absolute z-10 size-2 rounded-full bg-content-50 outline outline-2 outline-card;
    }
    /* Timeline line */
    &::before {
      content: "";
      left: calc(calc(var(--left-offset) + 1px) * -1);
      top: 50%;
      height: calc(100% + 1rem);
      transform: translateY(-50%);
      @apply pointer-events-none absolute border-l-[2px] border-content-50 opacity-30 transition;
    }

    /* Timeline position special cases */
    &:first-child::before {
      @apply absolute bottom-[calc(-0.5rem)] top-[unset] h-[calc(100%+0.5rem-var(--top-offset))] translate-y-0;
    }
    &:last-child::before {
      @apply top-[calc(-0.5rem)] h-[calc(0.5rem+var(--top-offset))] translate-y-0;
    }
    &:first-child:last-child::before {
      @apply hidden;
    }
  }
</style>
