---
import {
  CompactEntryListYear,
  groupingEntries,
} from "@comp/ui/CompactEntryList";
import type { PageMeta } from "@libs/notion-client";
import NoteContentById from "./NoteContentById.astro";
import NoteContentStyle from "./NoteContentStyle.astro";
import NoteAttr from "./NoteAttr.astro";

type Props = { pages: PageMeta[] };

const { pages } = Astro.props;

const groups = groupingEntries(pages, (page) =>
  new Date(page.createdAt).getFullYear(),
);
---

{
  groups.map((group) => (
    <CompactEntryListYear year={group.year} order={1} animated={false}>
      {group.posts.map((page) => (
        <li class="timeline-dot-item-note-list scroll-mt-20 py-6" id={page.id}>
          <NoteAttr page={page} class="py-2" />
          <NoteContentById pageId={page.id} />
        </li>
      ))}
    </CompactEntryListYear>
  ))
}

<NoteContentStyle />

<style is:global>
  .timeline-dot > li.timeline-dot-item-note-list {
    --top-offset: 3rem;
    --left-offset: 1.5rem;
    @apply relative ml-[var(--left-offset)];
    &:first-child {
      @apply pt-0;
      --top-offset: 1.5rem;
    }
    &:last-child {
      @apply pb-0;
    }

    &::after {
      content: "";
      @apply absolute -left-[calc(var(--left-offset)+0.25rem)] top-[calc(var(--top-offset)-0.25rem)] z-10 size-2 rounded-full bg-content-50 outline outline-2 outline-card;
    }
    &::before {
      content: "";
      @apply pointer-events-none absolute -left-[calc(var(--left-offset)+1px)] top-1/2 h-[calc(100%+1rem)] -translate-y-1/2 border-l-[2px] border-content-50 opacity-30 transition;
    }
    &:first-child::before {
      @apply absolute bottom-[calc(-0.5rem)] top-[unset] h-[calc(100%+0.5rem-var(--top-offset))] translate-y-0;
    }
    &:last-child::before {
      @apply top-[calc(-0.5rem)] h-[calc(0.5rem+var(--top-offset))] translate-y-0;
    }
    &:first-child:last-child::before {
      @apply hidden;
    }
  }
</style>
