---
import NoteCard from "./NoteCard.astro";
import type { getPageContent } from "@libs/notion-client";
interface Props {
  pageId: string;
}
const { pageId } = Astro.props;

import $selfFetch from "@utils/selfFetch";
const { data, error } = await $selfFetch<
  Awaited<ReturnType<typeof getPageContent>>
>(`/api/note/${pageId}`, {
  origin: new URL(Astro.request.url).origin,
});
---

{
  data !== null ? (
    <NoteCard>
      <Fragment slot="title">{data.meta.title}</Fragment>
      <div slot="meta">
        <span>{data.meta.createdAt}</span>
      </div>
      <Fragment set:html={data.html} />
    </NoteCard>
  ) : (
    <NoteCard>
      <Fragment slot="title">Error</Fragment>
      <span class="text-heading">{error}</span>
    </NoteCard>
  )
}
