---
import { cardInner, cardContainer } from "@comp/ui/Card/Card.astro";
import { renderDesc } from "@utils/markdown";
import { getPostPath } from "@utils/path";
import type { CollectionEntry } from "astro:content";
import PostAttr from "../ArticleCard/PostAttr.astro";
import type { ClassValue } from "clsx";

type Props = {
  class?: ClassValue;
  post: CollectionEntry<"post">;
};
const { post, class: className } = Astro.props;

let desc = "";
if (post.data.description === undefined) {
  desc = await renderDesc(post.body ?? "");
} else {
  desc = "<p>" + post.data.description + "</p>" || "";
}
---

<div class={cardContainer(className)}>
  <div class={cardInner({ padding: "postList", class: "py-8 @4xl:py-12" })}>
    <a href={getPostPath(post)}>
      <h2
        class="mb-2 text-lg font-bold transition-colors hover:text-content-primary @xl:text-xl @4xl:text-3xl"
      >
        {post.data.title}
      </h2>
    </a>
    <PostAttr data={post.data} alignment="left" />
    <div
      class="prose mt-4 hidden max-w-[90ch] @4xl:block dark:prose-invert"
      set:html={desc}
    />
  </div>
</div>
