---
interface Props {
  post: CollectionEntry<"post">;
  style?: string;
  class?: string;
}
import PostAttr from "./PostAttr.astro";
const { post, style, class: className } = Astro.props;
import { renderDesc } from "@utils/markdown";

let desc = "";
if (post.data.description === undefined) {
  desc = await renderDesc(post.body);
} else {
  desc = "<p>" + post.data.description + "</p>" || "";
}
---

<Card
  class:list={[`space-y-2 lg:space-y-3 transition post-card`, className]}
  useHeading
  lessBottomPadding
  padding="sm"
  style={style}
>
  <a
    slot="heading"
    href={getPostPath(post)}
    class="hover:text-primary transition-colors post-card-heading"
  >
    <h2>{post.data.title}</h2>
  </a>
  <div class="prose dark:prose-invert !text-sm" set:html={desc} />
  <PostAttr post={post} />
</Card>
