---
import { type CollectionEntry } from "astro:content";
import PostAttr from "./PostAttr.astro";
import Card from "@comp/elements/Card.astro";
import { renderDesc } from "@utils/markdown";
import { getPostPath } from "@utils/path";
interface Props {
  post: CollectionEntry<"post">;
  style?: string;
  class?: string;
}
const { post, style, class: className } = Astro.props;

let desc = "";
if (post.data.description === undefined) {
  desc = await renderDesc(post.body);
} else {
  desc = "<p>" + post.data.description + "</p>" || "";
}
---

<Card
  class:list={[`post-card space-y-2 transition lg:space-y-3`, className]}
  useHeading
  lessBottomPadding
  padding="sm"
  style={style}
>
  <a
    slot="heading"
    href={getPostPath(post)}
    class="post-card-heading transition-colors hover:text-primary"
  >
    <h2>{post.data.title}</h2>
  </a>
  <div class="prose !text-sm dark:prose-invert" set:html={desc} />
  <PostAttr post={post} />
</Card>
