---
import type { CollectionEntry } from "astro:content";
import ListHero from "./list-hero.astro";
import PostListItem from "./post-list-item.astro";
import Pagination from "./pagination.astro";
import type { Page as PaginationPage } from "astro";
import { colors } from "@repo/design-tokens/tokens.stylex";
import * as stylex from "@stylexjs/stylex";

interface Props {
  paginationPage: PaginationPage<CollectionEntry<"post">>;
  baseUrl: string;
  title: string;
  desc?: string;
}

const { paginationPage, baseUrl, title, desc } = Astro.props;
const styles = stylex.create({
  list: {
    borderBottomColor: colors.borderDefault,
    borderBottomStyle: "solid",
    borderBottomWidth: "1px",
  },
  noBorder: { borderBottomWidth: 0 },
});
---

<div>
  <div {...stylex.attrs(styles.list)}>
    <ListHero title={title} desc={desc} />
    {
      paginationPage.data.map((post, i) => (
        <PostListItem
          post={post}
          style={i === paginationPage.data.length - 1 && styles.noBorder}
        />
      ))
    }
  </div>
  {
    paginationPage.lastPage > 1 && (
      <Pagination
        currentPage={paginationPage.currentPage}
        totalPages={paginationPage.lastPage}
        baseUrl={baseUrl}
      />
    )
  }
</div>
