---
import type { CollectionEntry } from "astro:content";
import ListHero from "./list-hero.astro";
import PostListItem from "./post-list-item.astro";
import Pagination from "./pagination.astro";
import type { Page as PaginationPage } from "astro";

interface Props {
  paginationPage: PaginationPage<CollectionEntry<"post">>;
  baseUrl: string;
  title: string;
  desc?: string;
}

const { paginationPage, baseUrl, title, desc } = Astro.props;
---

<div>
  <div class="border-b border-container">
    <ListHero title={title} desc={desc} />
    {
      paginationPage.data.map((post, i) => (
        <PostListItem
          post={post}
          class={i === paginationPage.data.length - 1 ? "border-b-0" : ""}
        />
      ))
    }
  </div>
  {
    paginationPage.lastPage > 1 && (
      <Pagination
        currentPage={paginationPage.currentPage}
        totalPages={paginationPage.lastPage}
        baseUrl={baseUrl}
      />
    )
  }
</div>
