---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import PrevNext from "@comp/PrevNext.astro";
import CommentCard from "@comp/CommentCard.vue";
import Article from "@comp/views/Article.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("post");
  return blogEntries
    .sort(
      (a, b) =>
        new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
    )
    .map((post, i) => ({
      params: { slug: post.slug },
      props: { post, prev: blogEntries[i - 1], next: blogEntries[i + 1] },
    }));
}

const { post, prev, next } = Astro.props;

const { Content, headings } = await post.render();

import { getSeo } from "@utils/SEO";
import { getDesc } from "@utils/markdown";
import SideBar from "@comp/sidebar/SideBar.astro";
import TocMobile from "@comp/sidebar/TocMobile.astro";

const seoConfig = getSeo({
  title: post.data.title,
  description: post.data.description || getDesc(post.body),
  image: Astro.url.origin + post.data.image,
  type: "article",
});
---

<BaseLayout seoConfig={seoConfig}>
  <div class="flex flex-col gap-4">
    <Article entry={post}>
      <Content />
    </Article>
    <PrevNext prev={prev} next={next} />
    <CommentCard client:visible path={"/post/" + post.slug} />
  </div>
  <TocMobile headings={headings} />
  <Fragment slot="sidebar">
    <SideBar tocList={headings} seriesID={post.data.series?.id} />
  </Fragment>
</BaseLayout>
