---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostAttr from "../../components/PostAttr.astro";
import PrevNext from "../../components/PrevNext.astro";
import MdRender from "../../components/MdRender.astro";
import "../../styles/markdown.css";
// import CommentCard from "../../components/CommentCard.vue";

export async function getStaticPaths() {
  const blogEntries = await getCollection("post");
  return blogEntries
    .sort(
      (a, b) =>
        new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
    )
    .map((post, i) => ({
      params: { slug: post.slug },
      props: { post, prev: blogEntries[i - 1], next: blogEntries[i + 1] },
    }));
}

const { post, prev, next } = Astro.props;

const { Content, headings } = await post.render();

import { Seo } from "../../config";
import { getDesp } from "../../utils/mdUtils";
const seoConfig = new Seo(
  post.data.title,
  post.data.description || getDesp(post.body),
  Astro.url.origin + post.data.image,
  "article"
).get();
---

<BaseLayout
  tocList={headings}
  seoConfig={seoConfig}
>
  <div class="flex flex-col gap-4">
    <div class="card-base">
      <h1 class="card-heading mb-4">
        {post.data.title}
      </h1>
      <PostAttr post={post} />
      <MdRender>
        <Content />
      </MdRender>
    </div>
    <PrevNext prev={prev} next={next} />
    <!-- <CommentCard client:visible path={"/post/" + post.slug} /> -->
  </div>
</BaseLayout>
