---
import { Icon } from "astro-icon/components";
import { navMenu } from "../../config";
---

<div class="flex flex-col gap-4">
  {
    navMenu.map((nav) => (
      <section>
        <a
          href={nav.link}
          class="inline-flex items-center gap-2 modal-link font-medium text-heading"
        >
          <Icon name={nav.icon} size={20} /> {nav.text}
        </a>
        {nav.subMenu && nav.subMenu.length > 0 && (
          <ul class="grid grid-cols-2 gap-2 my-2">
            {nav.subMenu.map((child) => (
              <li>
                <a
                  href={child.link}
                  class="modal-link p-4 text-sm text-content"
                >
                  {child.text}
                </a>
              </li>
            ))}
          </ul>
        )}
      </section>
    ))
  }
  <!-- <section>
    <a href="/" class="inline-flex items-center gap-2 modal-link font-medium">
      <Icon name="mingcute:dot-grid-fill" size={20} /> 首页
    </a>
    <ul class="grid grid-cols-2 gap-2 my-2">
      <li>
        <a href="/" class="modal-link p-2">自述</a>
      </li>
      <li>
        <a href="/#highlights" class="modal-link p-2">高亮文章</a>
      </li>
      <li>
        <a href="/#recent" class="modal-link p-2">最近文章</a>
      </li>
      <li>
        <a href="/#projects" class="modal-link p-2">首页项目</a>
      </li>
    </ul>
  </section>
  <section>
    <a
      href="/post/1"
      class="inline-flex items-center gap-2 modal-link font-medium"
    >
      <Icon name="mingcute:edit-4-line" size={20} /> 文章
    </a>
  </section>
  <section>
    <a
      href="/projects"
      class="inline-flex items-center gap-2 modal-link font-medium"
    >
      <Icon name="mingcute:github-line" size={20} /> 项目
    </a>
  </section>
  <section>
    <a
      href="/achieve"
      class="inline-flex items-center gap-2 modal-link font-medium"
    >
      <Icon name="mingcute:history-anticlockwise-line" size={20} /> 时间线
    </a>
  </section>
  <section>
    <a
      href="/about"
      class="inline-flex items-center gap-2 modal-link font-medium"
    >
      <Icon name="mingcute:information-line" size={20} /> 关于
    </a>
  </section> -->
</div>
<script>
  function setup() {
    const modalLinks = document.querySelectorAll(".modal-link");
    const mobileList = document.getElementById(
      "nav-mobile",
    ) as HTMLDialogElement;
    modalLinks.forEach((link) => {
      link.addEventListener("click", (e) => {
        mobileList.close();
      });
    });
  }

  document.addEventListener(
    "astro:page-load",
    () => {
      setup();
    },
    { once: false },
  );
</script>
