---
// Calculate the number of articles, words, and tags
import { getCollection } from "astro:content";
const posts = await getCollection("post");
let articles = posts.length;
let words = 0;
for (const post of posts) {
  const { remarkPluginFrontmatter } = await post.render();
  words += remarkPluginFrontmatter.words;
}
const tags = [...new Set(posts.map((post) => post.data.tags).flat())].length;

import { Icon } from "astro-icon/components";
const name = "Yunfi";
const avatar = "/ava.webp";
const description = "Undergraduate";
const contact = {
  github: {
    link: "https://github.com/yy4382",
    icon: "mdi:github",
  },
  telegram: {
    link: "https://t.me/YunfiChannel",
    icon: "mdi:telegram",
  },
  email: {
    link: "mailto:i@yfi.moe",
    icon: "mdi:email",
  },
};
---

<div class="w-full card-color rounded-xl pb-4">
  <div class="flex flex-col items-center">
    <a href="https://yfi.moe" class="w-48 lg:w-full mt-4 lg:mt-0">
      <img class="rounded-full lg:w-full lg:rounded-xl lg:shadow-lg" src={avatar} alt="Yunfi avatar" />
    </a>
    <h5 class="mt-3 mb-1 text-2xl font-medium text-gray-900 dark:text-white">
      <a
        href="https://yfi.moe"
        class="hover:text-primary transition-colors flex items-center gap-2"
      >
        {name}
        <Icon
          name="fa6-solid:arrow-up-right-from-square"
          class="text-gray-900/60 dark:text-white/60 mt-[2px]"
          size={14}
        />
      </a>
    </h5>
    <span class="text-sm text-gray-500 dark:text-gray-400">{description}</span>
    <div class="flex mt-2">
      <div class="flex flex-col items-center mx-4">
        <span class="text-lg font-semibold text-gray-900 dark:text-white">
          {articles}
        </span>
        <span class="text-sm text-gray-500 dark:text-gray-400">文章</span>
      </div>
      <div class="flex flex-col items-center mx-4">
        <span class="text-lg font-semibold text-gray-900 dark:text-white">
          {(words / 10000).toFixed(1)}
        </span>
        <span class="text-sm text-gray-500 dark:text-gray-400">万字</span>
      </div>
      <div class="flex flex-col items-center mx-4">
        <span class="text-lg font-semibold text-gray-900 dark:text-white">
          {tags}
        </span>
        <span class="text-sm text-gray-500 dark:text-gray-400">标签</span>
      </div>
    </div>
    <div class="flex">
      {
        Object.entries(contact).map(([key, value]) => (
          <a
            href={value.link}
            class="inline-flex items-center justify-center w-10 h-10 mt-3 mx-1 rounded-md btn-regular"
            aria-label={key}
            target="blank"
          >
            <Icon name={value.icon} class="text-4xl" />
          </a>
        ))
      }
    </div>
  </div>
</div>
