---
import { Icon } from "astro-icon/components";
const name = "Yunfi";
const avatar = "/ava.webp";
const description = "Undergraduate";
const contact = {
  github: {
    link: "https://github.com/yy4382",
    icon: "mdi:github",
  },
  telegram: {
    link: "https://t.me/YunfiChannel",
    icon: "mdi:telegram",
  },
  twitter: {
    link: "https://twitter.com/yunfini",
    icon: "mdi:twitter",
  },
  email: {
    link: "mailto:i@yfi.moe",
    icon: "mdi:email",
  },
  rss: {
    link: "/feed.xml",
    icon: "mdi:rss",
  },
};
---

<div class="w-full card-color rounded-xl pb-4">
  <div class="flex flex-col items-center">
    <img class="w-full rounded-xl shadow-lg" src={avatar} alt="Yunfi image" />
    <h5 class="mt-3 mb-1 text-xl font-medium text-gray-900 dark:text-white">
      {name}
    </h5>
    <span class="text-sm text-gray-500 dark:text-gray-400">{description}</span>
    <div class="flex">
      {
        Object.entries(contact).map(([key, value]) => (
          <a
            href={value.link}
            class="inline-flex items-center justify-center w-10 h-10 mt-3 mx-1 rounded-md btn-regular"
            aria-label={key}
            target="blank"
          >
            <Icon name={value.icon} class="text-4xl" />
          </a>
        ))
      }
    </div>
  </div>
</div>
