---
import BaseLayout from "@layouts/BaseLayout.astro";
import PaginationBtn from "@comp/ui/Pagination/PaginationBtn.astro";
import { getSortedPosts } from "@utils/content";
import { ArticleInfoCard } from "@comp/modules/ArticleCard";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { getSeo } from "@utils/SEO";
import { sitePaths } from "@configs/site";

// eslint-disable-next-line @typescript-eslint/no-explicit-any
export async function getStaticPaths({ paginate }: { paginate: any }) {
  const allPosts = await getSortedPosts();
  return paginate(allPosts, { pageSize: 10 });
}
const { page } = Astro.props as { page: Page };
const seoConfig = getSeo({ title: "文章列表", noindex: true });
type PostType = CollectionEntry<"post">;
---

<BaseLayout seoConfig={seoConfig} navStats="文章">
  <div class="flex flex-col gap-4">
    {
      page.data.map((post: PostType, i) => (
        <div class="article-info-card" style={`animation-delay: ${0.1 * i}s;`}>
          <ArticleInfoCard post={post} />
        </div>
      ))
    }
    <div class="self-center">
      <PaginationBtn
        page={page}
        urlTemplate={`${sitePaths.postList}/{{pageNo}}`}
      />
    </div>
  </div>
</BaseLayout>

<style>
  .article-info-card {
    animation:
      moveIn 0.5s var(--ease-out-quint) both,
      fadeIn 0.2s both;
  }
</style>
