---
import Card from "@comp/ui/Card/Card.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getSeo } from "@utils/SEO";
import { Image } from "astro:assets";
import logo from "@assets/logo.png";
import { authorName, contactInfo, projects } from "@configs/author";
import getStatistics from "@utils/statistics";
import { getSortedPosts } from "@utils/content";
import { DateTime } from "luxon";
import { Icon } from "astro-icon/components";
import { cn } from "@utils/cn";

const statistics = await getStatistics();

const sortedPosts = await getSortedPosts();
const lastPost = sortedPosts.at(-1);
if (!lastPost) {
  throw new Error("No posts found");
}
const firstData = lastPost.data.date;

const seoConfig = getSeo({
  title: "首页",
  description: "笔记与分享，代码和生活",
});
---

<BaseLayout seoConfig={seoConfig}>
  <Card class="flex min-h-96 flex-col center gap-4 md:min-h-[40rem]" bg="grid">
    <div class="flex center gap-4 md:gap-8">
      <Image src={logo} alt="logo" width={80} height={80} class="rounded-md" />
      <h1 class="text-5xl font-bold lg:text-8xl">{authorName}</h1>
    </div>
  </Card>
  <Card class="min-h-18" />
  <Card class="relative pt-20 sm:pt-8">
    <span class="section-number">01</span>
    <h2 class="mb-2 px-8 text-3xl font-bold sm:px-10">文章</h2>
    <p class="mb-12 max-w-[65ch] px-8 sm:px-10">
      从 {
        DateTime.fromJSDate(firstData).toFormat("yyyy 年 M 月 d 日")
      }的第一篇文章开始，本站已经更新了……
    </p>
    <div
      class="grid-row-3 sm:grid-row-1 relative grid place-items-stretch border-t border-container sm:grid-cols-3"
    >
      <div
        class="flex flex-col center border-b border-container py-8 sm:border-r sm:border-b-0"
      >
        <div class="text-3xl font-bold text-heading">
          {statistics.articles} 篇
        </div>
        <div class="text-comment">文章</div>
      </div>
      <div
        class="flex flex-col center border-b border-container py-8 sm:border-r sm:border-b-0"
      >
        <div class="text-3xl font-bold text-heading">
          {(statistics.words / 10000).toFixed(2)} 万
        </div>
        <div class="text-comment">字数</div>
      </div>
      <div class="flex flex-col center border-container py-8">
        <div class="text-3xl font-bold text-heading">{statistics.tags} 个</div>
        <div class="text-comment">标签</div>
      </div>
    </div>
  </Card>
  <Card class="min-h-18" />
  {/* projects info */}
  <Card class="relative pt-20 pb-16 sm:pt-8">
    <span class="section-number">02</span>
    <h2 class="mb-2 px-8 text-3xl font-bold sm:px-10">项目</h2>
    <p class="mb-12 max-w-[65ch] px-8 sm:px-10">
      在 <a href="https://github.com/yy4382" class="underline">GitHub</a> 上有更多开源项目，不妨点个
      Star 吧。
    </p>
    <div class="dashed flex flex-col">
      {
        projects.map((p) => (
          <div
            class={cn(
              "group grid min-h-48 grid-cols-[1fr_5rem] grid-rows-1 *:py-8 sm:grid-cols-[1fr_10rem] lg:grid-cols-[12rem_1fr_10rem]",
              "border-b border-container-light",
            )}
          >
            <div class="hidden center border-r border-container-light lg:flex">
              <Icon name={p.icon} size={100} />
            </div>
            <div class="flex flex-col justify-center gap-2 border-r border-container-light px-8 sm:px-12">
              <div class="mb-4 flex items-center justify-start lg:hidden">
                <Icon name={p.icon} size={64} />
              </div>
              <p class="text-comment">{p.desc}</p>
              <h3 class="text-xl font-bold">{p.title}</h3>
            </div>
            <div class="grid grid-cols-1 place-items-stretch !py-0 font-bold text-comment/80 group-hover:text-content">
              {p.links.map((l, i) => (
                <a
                  href={l.href}
                  target="_blank"
                  class={cn(
                    "flex center card-btn",
                    i !== p.links.length - 1 &&
                      "border-b border-container-light",
                  )}
                >
                  <div class="inline-flex gap-2">
                    <Icon name={l.icon} size={24} />{" "}
                    <span class="hidden sm:inline">{l.text}</span>
                  </div>
                </a>
              ))}
            </div>
          </div>
        ))
      }
      <a
        class="flex center gap-1 card-btn py-6 text-xl font-bold"
        href="https://github.com/yy4382"
      >
        更多 <Icon name="mingcute:external-link-line" size={20} />
      </a>
    </div>
  </Card>
  <Card class="min-h-18" />
  {/* contact info */}
  <Card class="relative pt-18 pb-8 sm:pt-8">
    <span class="section-number">03</span>
    <div
      class="relative flex size-full flex-col items-start justify-center gap-6 px-8 sm:flex-row sm:items-center sm:px-10"
    >
      <h2 class="text-3xl font-bold">联系我</h2>
      <div class="flex gap-4">
        {
          contactInfo.map((c) => {
            return (
              <a
                href={c.link}
                target="_blank"
                aria-label={c.name}
                style={`background-color: ${c.color}`}
                class="rounded-full p-2"
              >
                <Icon name={c.icon} size={24} class="text-white" />
              </a>
            );
          })
        }
      </div>
    </div>
  </Card>
</BaseLayout>

<style>
  @reference "../styles/base.css";
  .dashed {
    position: relative;
    @variant before {
      content: "";
      pointer-events: none;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      background-image: repeating-linear-gradient(
        90deg,
        var(--container-border) 0 15px,
        transparent 0 30px
      );
    }
    @variant after {
      content: "";
      pointer-events: none;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 1px;
      background-image: repeating-linear-gradient(
        90deg,
        var(--container-border) 0 15px,
        transparent 0 30px
      );
    }
  }
  .section-number {
    position: absolute;
    border-color: var(--border-color-container);
    border-style: solid;
    border-bottom-width: 1px;
    border-right-width: 1px;
    @variant sm {
      border-right-width: 0px;
      transform: translateX(-100%);
    }
    @variant xl {
      border-left-width: 1px;
    }

    top: 0;
    left: 0;

    text-align: center;
    font-family: monospace;
    font-variant-numeric: slashed-zero;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: -0.3px;
    cursor: default;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 0;
    box-sizing: border-box;
  }
</style>
