---
import { Icon } from "astro-icon/components";
import Card from "@comp/ui/Card/Card.astro";
interface Props {
  icon: string;
  title: string;
  desc?: string;
  links: {
    href: string;
    text: string;
    icon?: string;
    currentTab?: boolean;
  }[];
}
const { icon, desc, title, links }: Props = Astro.props;
---

<div class="group relative h-full">
  <div
    class="flex h-full justify-items-center gap-4 transition-transform sm:grid sm:grid-rows-[1.5fr_1fr] sm:group-hover:scale-95"
  >
    <Icon
      name={icon}
      class="flex-shrink-0 pt-1 text-6xl text-content sm:self-end"
    />
    <div class="flex flex-col">
      <p class="max-w-32 text-lg font-medium text-heading sm:text-center">
        {title}
      </p>
      {desc && <p class="mt-1 text-sm text-content sm:hidden">{desc}</p>}
      <ul class="mt-2 flex gap-2 text-primary sm:hidden">
        {
          links.map((link) => (
            <li class="underlined-link transition-transform active:scale-95">
              {link.icon && (
                <Icon
                  name={link.icon}
                  class="inline-block -translate-y-[1px] translate-x-[2px]"
                />
              )}
              <a
                href={link.href}
                class=""
                target={link.currentTab ? "_self" : "_blank"}
              >
                {link.text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <Card
    class="invisible absolute top-[75%] left-[10%] z-10 hidden flex-col gap-2 border opacity-0 transition-all sm:flex sm:group-hover:visible sm:group-hover:opacity-100 dark:border-gray-600"
    padding="xs"
  >
    {desc && <p class="min-w-max text-content">{desc}</p>}
    <ul class="flex flex-col gap-2 text-primary">
      {
        links.map((link) => (
          <li class="underlined-link w-fit whitespace-nowrap">
            {link.icon && (
              <Icon
                name={link.icon}
                class="inline-block -translate-y-[1px] translate-x-[2px]"
              />
            )}
            <a href={link.href} target={link.currentTab ? "_self" : "_blank"}>
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
  </Card>
</div>
