---
import getStatistics from "@utils/statistics";
import { authorName, contactInfo } from "@configs/author";
import { sitePaths } from "@configs/site";
import { getSortedPosts } from "@utils/content";
import Card from "@comp/ui/Card/Card.astro";
import { Icon } from "astro-icon/components";
import HomeBentoProject from "./HomeBentoProject.astro";
import HomeBentoPostList from "./HomeBentoPostList.astro";

const MAX_RECENT = 12;
const MAX_HIGHLIGHT = 3;
const MAX_RECENT_MODIFIED = 5;

const posts = await getSortedPosts();
const recent = posts.slice(0, MAX_RECENT);
const recentModified = posts
  .slice()
  .sort((a, b) => Number(b.data.updated) - Number(a.data.updated))
  .slice(0, MAX_RECENT_MODIFIED);
const highlights = posts
  .filter((post) => post.data.highlight)
  .slice(0, MAX_HIGHLIGHT);

const { articles, words, tags } = await getStatistics();
const stats: [number | string, string, string][] = [
  [articles, "篇", "文章"],
  [(words / 10000).toFixed(1), "", "万字"],
  [tags, "个", "标签"],
];
---

<div class="bento-layout">
  <!-- MARK: Introduction -->
  <Card
    class="mt-[calc(50vh-9rem-6rem)] mb-[calc(50vh-10rem-6rem)] flex min-h-48 items-center justify-center gap-4 sm:mt-0 sm:mb-0 sm:min-h-0 sm:[grid-area:introduction]"
  >
    <div class="flex items-center gap-2 text-xl">
      <img
        src="/icon-96.png"
        alt="logo"
        class="mr-3 size-16 rounded-xl xl:size-20"
      />
      <h2 class="text-6xl font-bold text-heading xl:text-8xl">
        {authorName}
      </h2>
    </div>
  </Card>
  <!-- MARK: Socials -->
  <Card class="min-h-20 sm:min-h-0 sm:[grid-area:socials]">
    <div
      class="flex size-full items-center justify-center gap-4 whitespace-nowrap"
    >
      <span class="text-xl font-semibold text-content sm:text-2xl"
        >Find me at</span
      >
      <span class="flex gap-2">
        {
          contactInfo.map((social) => (
            <a
              href={social.link}
              target="_blank"
              class="flex size-9 center rounded-full p-2 transition-all hover:scale-105"
              style={`background-color: ${social.color}`}
              rel="noreferer"
            >
              <Icon name={social.icon} class="size-full text-white" />
            </a>
          ))
        }
      </span>
    </div>
  </Card>
  <!-- MARK: Recent -->
  <div class="!p-0 sm:[grid-area:recent]">
    <HomeBentoPostList
      posts={recent}
      title="最近发布"
      class="size-full flex-grow"
      link={sitePaths.postList}
    />
  </div>
  <!-- MARK: Highlights -->
  <div class="flex size-full flex-col gap-4 !p-0 sm:[grid-area:highlights]">
    <HomeBentoPostList posts={highlights} title="高亮文章" />
    <HomeBentoPostList
      posts={recentModified}
      title="最近更新"
      class="flex-grow"
      link={sitePaths.postList}
      showUpdateTime
    />
  </div>
  <!-- MARK: Projects -->
  <HomeBentoProject />
  <!-- MARK: Stats -->
  <Card class="flex center sm:[grid-area:stats]">
    <div
      class="flex size-full justify-around gap-6 text-lg text-heading sm:w-fit sm:flex-col sm:justify-center"
    >
      {
        stats.map(([num, unit, text]) => (
          <p class="flex w-fit flex-col center whitespace-nowrap sm:block">
            <span class="text-5xl font-semibold text-primary">{num}</span>
            <span class="sm:hidden">{text}</span>
            <span class="hidden sm:inline">{unit ? unit + text : text}</span>
          </p>
        ))
      }
    </div>
  </Card>
  <!-- MARK: Timeline -->
  <Card class="hidden center sm:flex sm:[grid-area:timeline]">
    <a
      href="/achieve"
      class="group flex flex-col items-center justify-center gap-3 transition-transform hover:scale-95"
    >
      <Icon name="mingcute:history-line" class="text-8xl text-primary" />
      <span
        class="text-2xl font-semibold text-nowrap whitespace-nowrap text-content transition-colors group-hover:text-primary"
      >
        时光机 <Icon
          class="inline-block -translate-y-[2px] transition-transform group-hover:scale-110"
          name="mingcute:external-link-line"
        />
      </span>
    </a>
  </Card>
  <!-- MARK: RSS -->
  <Card class="hidden items-center justify-center sm:flex sm:[grid-area:rss]">
    <a
      href="/feed.xml"
      class="group flex items-center justify-center transition-transform hover:scale-95 lg:flex-col xl:flex-row"
    >
      <Icon
        name="mingcute:rss-line"
        class="text-7xl text-yellow-600 lg:-m-[0.375rem]"
      />
      <span
        class="ml-1 text-2xl font-semibold text-nowrap whitespace-nowrap text-content transition-colors group-hover:text-primary lg:ml-0 xl:ml-1"
      >
        RSS <Icon
          class="inline-block -translate-y-[2px] transition-transform group-hover:scale-110"
          name="mingcute:external-link-line"
        />
      </span>
    </a>
  </Card>
  <!-- MARK: Slogan -->
  <Card class="flex items-center justify-center [grid-area:slogan]">
    <p class="text-2xl font-semibold whitespace-nowrap text-heading">
      Coding with Passion and <Icon
        name="mingcute:heart-fill"
        class="inline-block -translate-y-[2px] text-[1.25em] text-red-400"
      />
    </p>
  </Card>
</div>

<style>
  .bento-layout {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 1rem;
    margin-top: 1rem;
    padding: 1rem 0;

    > * {
      /* for animation */
      opacity: 0;
    }

    > div {
      min-width: 0px;
      padding: 1.5rem;
    }
  }
  @media (min-width: 640px) {
    .bento-layout {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1.2fr 0.5fr auto 1fr 0.5fr;
      grid-template-areas:
        "introduction introduction introduction stats"
        "socials socials socials socials"
        "recent recent highlights highlights"
        "projects projects projects timeline"
        "rss slogan slogan slogan";

      > div {
        padding: 1.5rem;
      }
    }
  }
  @media (min-width: 1024px) {
    .bento-layout {
      height: 45rem;
      max-width: 80rem;
      grid-template-areas:
        "timeline projects projects projects highlights"
        "recent recent introduction introduction highlights"
        "recent recent stats socials socials"
        "recent recent stats rss slogan";
      grid-template-columns:
        repeat(3, minmax(0, 1fr)) minmax(0, 0.8fr)
        minmax(0, 2fr);
      grid-template-rows: 0.9fr 1fr 0.4fr 0.6fr;
      margin-top: 0rem;
      > div {
        padding: 2rem;
      }
    }
  }
</style>

<script>
  import { animate } from "motion/mini";
  import { spring, stagger } from "motion";
  const animater = () => {
    animate(
      ".bento-layout > *",
      {
        transform: ["translateY(50px)", "translateY(0)"],
        opacity: 1,
      },
      {
        delay: stagger(0.05),
        duration: 1,
        type: spring,
        bounce: 0.5,
      },
    );
  };
  document.addEventListener("astro:page-load", animater);
</script>
