---
import type { CollectionEntry } from "astro:content";
interface Props {
  post: CollectionEntry<"post">;
  headings: any[];
  prev: CollectionEntry<"post">;
  next: CollectionEntry<"post">;
}
import PostAttr from "../components/PostAttr.astro";
import Base from "./Base.astro";
import PrevNext from "../components/PrevNext.astro";
const { post, headings, prev, next } = Astro.props;
---

<Base pageTitle={post.data.title} headings={headings}>
  <div class="p-4 pt-4 lg:p-8 card-i mb-4">
    <h1
      class="text-2xl lg:text-4xl font-bold lg:font-extrabold tracking-tight text-base-content text-wrap"
    >
      {post.data.title}
    </h1>
    <PostAttr post={post} />
    <br />
    <div class="prose dark:prose-invert max-w-full break-words">
      <slot />
    </div>
  </div>
  <PrevNext prev={prev} next={next} />
</Base>
