---
import { Image } from "astro:assets";
import getStatistics from "@utils/statistics";
import avatar from "@assets/avatar.jpeg";
import { authorName, authorDescription } from "@configs/author";
import Card from "@comp/elements/Card.astro";

const { articles, words, tags } = await getStatistics();
---

<Card class="w-full lg:p-0 lg:pb-4 p-4">
  <div class="flex lg:flex-col items-center gap-4 justify-center">
    <div class="w-32 lg:w-[unset] m-4 mb-0">
      <Image
        class="rounded-full lg:w-full lg:rounded-xl lg:shadow-lg"
        src={avatar}
        loading={"eager"}
        alt={authorName + " avatar"}
        widths={[240, 540, 720, avatar.width]}
      />
    </div>
    <div class="flex flex-col gap-2 items-center">
      <h5 class="text-2xl font-medium text-heading relative">
        {authorName}
      </h5>
      <span class="text-sm text-comment">{authorDescription}</span>
      <div class="flex">
        <div class="flex flex-col items-center mx-4">
          <span class="text-lg font-semibold text-content">
            {articles}
          </span>
          <span class="text-sm text-comment">文章</span>
        </div>
        <div class="flex flex-col items-center mx-4">
          <span class="text-lg font-semibold text-content">
            {(words / 10000).toFixed(1)}
          </span>
          <span class="text-sm text-comment">万字</span>
        </div>
        <div class="flex flex-col items-center mx-4">
          <span class="text-lg font-semibold text-content">
            {tags}
          </span>
          <span class="text-sm text-comment">标签</span>
        </div>
      </div>
    </div>
  </div>
</Card>
