---
import { Icon } from "astro-icon/components";
import getStatistics from "@utils/statistics";
import { authorName, contactInfo } from "@configs/author";
import Card from "@comp/elements/Card.astro";

const { articles, words, tags } = await getStatistics();
---

<Card class="w-full" padding="xs">
  <div
    class="flex items-center justify-center gap-4 sm:gap-8 lg:flex-col lg:gap-4"
  >
    <div class="mb-0 w-32 lg:w-[unset]">
      <img
        src="/ava.webp"
        alt={authorName + " avatar"}
        class="rounded-full transition-shadow hover:shadow-none lg:w-full lg:rounded-xl lg:shadow-lg"
      />
    </div>
    <div class="flex shrink-0 flex-col gap-2 lg:items-center">
      <h5 class="relative text-4xl font-semibold text-heading">
        {authorName}
      </h5>
      <div class="flex gap-4">
        <div class="flex flex-col items-center">
          <span class="text-xl text-content">
            {articles}
          </span>
          <span class="text-sm text-comment opacity-80">文章</span>
        </div>
        <div class="flex flex-col items-center">
          <span class="text-xl text-content">
            {(words / 10000).toFixed(1)}
          </span>
          <span class="text-sm text-comment opacity-80">万字</span>
        </div>
        <div class="flex flex-col items-center">
          <span class="text-xl text-content">
            {tags}
          </span>
          <span class="text-sm text-comment opacity-80">标签</span>
        </div>
      </div>
      <div class="flex gap-2">
        {
          contactInfo.map((social) => (
            <a
              href={social.link}
              target="_blank"
              class="flex size-9 rounded-lg border border-primary/30 bg-primary/20 p-1.5 transition-all center hover:scale-105 hover:bg-primary/25"
              rel="noreferer"
            >
              <Icon
                name={social.icon}
                class="size-full"
                style={`color: ${social.color}`}
              />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</Card>
